.header {
    height: 100px;
    overflow: hidden;
}
.nav {
    height: 43px;
    margin: 20px auto;
    width: 1360px;
}
.logo {
    float: left;
}
.navbar {
    float: left;
    margin-left: 40px;
}
.navbar li {
    float: left;
    line-height: 43px;
}
.navbar li a {
    display: block;
    padding: 0 15px;
    height: 43px;
}
.navbar li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    float: right;
    height: 43px;
    width: 410px;
    background-color: black;
    border: 1px solid #00a4ff;
}
input {
    box-sizing: border-box;
    border: none;
}
.search input[type=text] {
    width: 360px;
    height: 43px;
    float: left;
}
.search input[type=submit] {
    width: 50px;
    height: 43px;
    float: left;
    background: url(../images/search_06.png) no-repeat center center,
    #00a4ff;
}
.person {
    height: 42px;
    float: right;
    margin: 0 15px 0 35px;  /* 上0 右 15  下0 左  35 */
    line-height: 42px;
}
.person img {
    margin: 0 8px;
}